In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Read CSV Files & Create DataFrames
december_2017_df = pd.read_csv("data/201712-citibike-tripdata.csv")
december_2018_df = pd.read_csv("data/201812-citibike-tripdata.csv")
december_2019_df = pd.read_csv("data/201912-citibike-tripdata.csv")

In [3]:
# Combined the 3 DataFrames Into a Single Combined DataFrame
december_combined_df = december_2017_df.append([december_2018_df, december_2019_df], ignore_index=True)

In [4]:
# View Combined DataFrame
december_combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324.0,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262.0,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470.0,W 20 St & 8 Ave,40.743453,-74.000040,490.0,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347.0,Greenwich St & W Houston St,40.728846,-74.008591,504.0,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077.0,Stagg St & Union Ave,40.708771,-73.950953,3454.0,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368.0,Carmine St & 6 Ave,40.730386,-74.002150,326.0,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [5]:
# Rename Columns
december_combined_df = december_combined_df.rename(columns={"tripduration": "trip_duration",
                                                            "starttime": "start_time",
                                                            "stoptime": "stop_time",
                                                            "start station id": "start_station_id",
                                                            "start station name": "start_station_name",
                                                            "start station latitude": "start_station_latitude",
                                                            "start station longitude": "start_station_longitude",
                                                            "end station id": "end_station_id",
                                                            "end station name": "end_station_name",
                                                            "end station latitude": "end_station_latitude",
                                                            "end station longitude": "end_station_longitude",
                                                            "bikeid": "bike_id",
                                                            "usertype": "user_type",
                                                            "birth year": "birth_year"})

In [6]:
# Convert Default Datetimes to Proper Datetime Format
december_combined_df["start_time"] = pd.to_datetime(december_combined_df["start_time"])
december_combined_df["stop_time"] = pd.to_datetime(december_combined_df["stop_time"])

In [7]:
# View Combined DataFrame Renamed Columns & Reformatted Datetimes
december_combined_df.head()

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324.0,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262.0,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470.0,W 20 St & 8 Ave,40.743453,-74.000040,490.0,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347.0,Greenwich St & W Houston St,40.728846,-74.008591,504.0,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077.0,Stagg St & Union Ave,40.708771,-73.950953,3454.0,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368.0,Carmine St & 6 Ave,40.730386,-74.002150,326.0,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [8]:
# Save Combined DataFrame to CSV
december_combined_df.to_csv("data/combined-citibike-tripdata.csv")